/vendor/
node_modules/
npm-debug.log
yarn-error.log

bootstrap/compiled.php
app/storage/

public/storage
public/hot

kannel
sw
public/etc/
public/csv/campaign/*
public/csv/queue/*
public/csv/voice/*
public/csv/wa_campaign/*
public/csv/whatsapp/*

public/uploads
public/redis
public/reports
public/voice/*
public/whatsapp/*
public/whatsapp-file/*
public/temp

storage/framework/*

public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env-server-ok-go
old_smsc_oursms.txt
smsc_sample.env
websocket.conf
.env.production
.phpactor.json
auth.json
